.formation {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.formation li {
    margin-bottom: 1rem;
}

.formation li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formation li .period::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('..//img/date.svg');
    margin-right: .5rem;
}